<div class="main-div">
  <nav class="dashboard-nav">
    <div class="nav-item" (click)="navigateToDoctor()" [class.active]="isDoctorActive">
      Doctors
    </div>
    <div class="nav-item" (click)="navigateToNurses()" [class.active]="isNurseActive">
      Nurses
    </div>
    <div class="nav-item" (click)="navigateToMyBookings()" [class.active]="isMyBookingsActive">
      My Bookings
    </div>
    <div class="nav-item" (click)="navigateToReminder()" [class.active]="isReminderActive">
      Reminder
      </div>
    <div class="nav-item" (click)="navigateToCommunity()" [class.active]="isCommunityActive">
      Community
    </div>
    <div class="nav-item logout" (click)="signOut()">
      <fa-icon [icon]="signOutIcon"></fa-icon>
    </div>
  </nav>
  <app-doctor *ngIf="isDoctorActive"></app-doctor>
  <app-nurse *ngIf="isNurseActive"></app-nurse>
  <app-my-bookings *ngIf="isMyBookingsActive"></app-my-bookings>
  <app-medication-reminder *ngIf="isReminderActive"></app-medication-reminder>
  <app-community *ngIf="isCommunityActive"></app-community>
  <app-chat></app-chat>
</div>
