.container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  padding: 20px;
  width: 300px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background: #124E66;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background: #124E66;
}

p {
  margin-top: 10px;
}

a {
  color: #124E66;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  font-size: large;
}

.required {
  content: l;
  color: red;
}

.disabled-button {
  background-color: #cccccc;
  pointer-events: none;
}
