.booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  // border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgb(198, 187, 173);

  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .form-group {
    margin-bottom: 1rem;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input,
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  }

  .btn {
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
  }
}
