<div class="bookings-container">
  <div *ngFor="let booking of paginatedBookings; let i = index" class="booking-card">
    <h3>{{ booking.expertName }}</h3>
    <p>Creation Date: {{ booking.creationDate | date }}</p>
    <p>Booking Date: {{ booking.bookingDate | date }}</p>
    <p>Time Slot: {{ booking.timeSlot }}</p>
    <button (click)="cancelBooking(booking)">Cancel</button>
  </div>
</div>

<div class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage === 1 || currentPage === 0" class="navigation">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages || currentPage === 0" class="navigation">Next</button>
</div>
