<div class="overlay" *ngIf="bookATable">
  <div class="modal">
    <button class="close-button" (click)="closeModal()">X</button>
    <app-table-booking class="table-booking" [restaurant]="chosenRestaurant"></app-table-booking>
  </div>
</div>

<div class="search-container">
  <div class="search-bar">
    <input type="text" placeholder="Search by name" [(ngModel)]="searchText"
      (input)="filterRestaurants()" />
  </div>
  <div class="search-bar">
    <input type="text" placeholder="Search by location" [(ngModel)]="searchLocation"
      (input)="filterRestaurants()" />
  </div>
</div>

<div class="restaurant-cards">
  <div *ngFor="let restaurant of filteredRestaurants" class="restaurant-card">
    <h3>{{ restaurant.restaurantName }}</h3>
    <p>Location: {{ restaurant.location }}</p>
    <p>Cuisines: {{ restaurant.cuisines.join(', ') }}</p>
    <p>Registered on: {{ restaurant.registrationDate | date }}</p>
    <button (click)="bookTable(restaurant)">Book a Table</button>
  </div>
</div>